@page "/"
@using Portfolio.Pages.Components
@using Portfolio.Shared.Model
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>@message</h1>
<Skills Items="portfolioData?.Skills" />
<WorkHistories Items="portfolioData?.WorkHistories" />

@code {
    private PortfolioData? portfolioData;
    private string message = "読み込み中...";

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("functions");
        portfolioData = await client.GetFromJsonAsync<PortfolioData>("GetPortfolioData");
    }
}